body {
  background-color: rosybrown;
}
.container {
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}
select {
  display: block;
  width: 80%;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
  margin: 0 auto;
}
h2 {
  font-size: 28px;
}
.city-details {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 30px;
}
.date {
  opacity: 0.7;
  margin-left: 30px;
  border-bottom: 1px dotted gray;
}
.time {
  font-size: 32px;
  font-weight: 800;
  margin-top: 13px;
  margin-right: 60px;
}
small {
  font-size: 14px;
}
footer {
  font-size: 14px;
  margin-top: 80px;
  margin-left: 10px;
}
footer a {
  text-decoration: none;
}
